.cardd{
    position: absolute;
    height: 300px;
    width: 260px;
    border-radius: 20px;
    background: #00cded;
    -webkit-transform: rotateY(350deg);
    transform: rotateY(350deg);
   
}

.explore-card-base .explore-card:nth-child(1) .card {
  left: -70px;
}

.explore-card-base .explore-card {
  position: absolute;
  -webkit-perspective: 600px;
  perspective: 600px;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.explore-card-base {
  margin-right: 0;
  margin-left: auto;
  position: relative;
  height: 300px;
  width: 260px;
  -webkit-perspective: 600px;
  perspective: 600px;
}

.explore-card-base .explore-card .card {
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  height: 300px;
  width: 260px;
  border-radius: 20px;
  background: white;
  -webkit-transform: rotateY(350deg);
  transform: rotateY(350deg);
  -webkit-animation: floating 8s infinite;
  animation: floating 8s infinite;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.content{
  margin-top: 100px;
}

.container .content .sign-up-btn {
  margin-top: 30px;
  background: #1da09c;
  color: white;
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: 15px;
}

.ipad .min-page .block {
    display: inline-block;
    padding: 5px;
    height: 55px;
    width: 50px;
}

.ipad .min-page {
  margin-left: 0;
  margin-right: 0;
  background: #fafbfd;
  height: 100%;
}

 .ipad{
  margin-top: 100px;
  position: relative;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  width: 414px;
  height: 284px;
  border-radius: 30px;
  background: #fff;
  
}

 .ipad .screen {
  width: 340px;
  height: 268px;
  margin: auto;
  border: 2px solid #eff1f5;
  border-radius: 5px;
}


.background{
  position: absolute;
  width: 100%;
  height: 672px;
  -webkit-transform: skewY(12deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  background: -o-linear-gradient(240deg, #222222 15%, #373737 70%, #3c4859 94%);
  background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar{
  height: 100px;
}

.col-md-6, col-sm-6{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-6{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.hello-footer{
  width: 20%;  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.hello-footer .links{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.links>a{
  text-decoration: none;
  /* border-left: 3px solid black;
  margin: 3px; */
  color: black;
}
.links>span>a{
  text-decoration: none;
  color: black;
}
@media (max-width: 767px) {
    .navbar {
      display: none;
    }
}

@media  (max-width: 991px)
{.hidden-sm {
    display: none;
}}

@media  (max-width: 991px)
{.top-col-text {
    align-items: center;
    margin: auto;
    width: 100%;
}}


html,body{overflow-y: scroll; }

@media (max-width: 767px){
.container {
    padding-right: 15px;
    padding-left: 15px;
}}

@media (min-width: 768px)
{
.section-header h2 {
    position: relative;
    top: -33px;
    margin-right: 10px;
    margin-bottom: 0;
}}

@media (min-width: 768px)
{.section-header  {
    display: inline-block;
}}

 h2 {
  color: #1da09c;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 991px)
{h2 {
    font-size: 35px;
}}



@media (max-width: 767px)
{
  .cardd {
    transform: scale(0.6);
    margin: auto;
    align-items: center;
}
}


@media (max-width: 991px) and (min-width: 768px)
{ .explore-bar {
    padding-top: 60px;
}}


@media (max-width: 768px)
{ .move-right {
  display: flex;
    /* flex-direction: column-reverse; */
    /* position: relative; */
    top: -150px;
    /* right: 40px; */
    justify-content: center;
    align-items: flex-start;
    right: 220px;
    /* text-align: center; */
}}

.heading{
    color: #1da09c;
    font-weight: 500;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5em;
}

 .companies-showcase-base .facebook {
  height: 50px;
}

.companies-showcase-base .company-logo {
  height: 40px;
}

.companies-showcase-base .company-logo {
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
  opacity: 0.2;
  height: 40px;
}

.companies-showcase-base {
  margin: 40px 20px;
}

.companies-showcase-base .inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.inner .logo{
  margin: 13px;
}

footer.site-footer {
  z-index: 10;
  font-weight: 300;
  color: grey;
  padding-bottom: 20px;
}
.footer{
  display: block;
}

@media (min-width: 768px)
{ .col-sm-4 {
    width: 33.33333333%;
}}

@media (min-width: 768px)
{
  .col-sm-8 {
    width: 66.66666667%;
}}

@media (min-width: 768px)
{.col-sm-8 {
    width: 66.66666667%;
}}

.text-right {
  text-align: right;
}




